<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>

    <body>
        <h1>{{ waring }}</h1>
        <form method="post">
        {% csrf_token %}
        <label>enter name</label>
        <input id="message" type="text"  name="name"/>
        <label>enter pass</label>
        <input id="message" type="text"  name="pass"/>
        <input type="submit" value="Click Here"/>
        </form>
        
    </body>    
</html>